<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>adminController.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageUpload</servlet-name>
        <servlet-class>adminController.imageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProductServlet</servlet-name>
        <servlet-class>adminController.adminProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHomeServlet</servlet-name>
        <servlet-class>adminController.adminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminOrderServlet</servlet-name>
        <servlet-class>adminController.adminOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUserServlet</servlet-name>
        <servlet-class>adminController.adminUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/admin/product/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageUpload</servlet-name>
        <url-pattern>/imageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProductServlet</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHomeServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminOrderServlet</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUserServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>UPLOAD_DIRECTORY</param-name>
        <param-value>F:\\Projects\\JavaEE\\DEA\\E-Commerce-Project\\Natura\\shared\\images</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
</web-app>
