.address-details {
    display: none;
}
.fixed-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   
    padding-bottom: 50px;
}
.title-margin{
    margin-top: 8rem;
}
#checkboxError {
    color: red;
    height: 20px;
    visibility: hidden;
    margin-top: 10px;
}

/* Style for the popup message */
.popup-message {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 580px;
    left: 20%;
    right: 20%;
    z-index: 1200;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: green;
    
}

.textMessage{
    background-color: white;
    border: 2px solid white;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
}

/* Make the message visible */
.show {
    display: block;
    opacity: 1;
}