/* styles.css */


.navbar-nav .nav-link {
    font-size: 18px;
    color: black !important;
}


.login-btn {
    color: #000;
    border-radius: 29.5px;
    padding: 0px 0px;
    font-size: 18px;
}

.navbar {
    background-color: #79FF6D;
}

.navbar-brand {
    margin-right: 0;
}

.custom-toggler .navbar-toggler-icon {
    color: black;
}

.custom-image {
    width: 100%;
    height: auto;
}

.custom-image-container {
    padding-left: 0;
    padding-right: 0;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: left;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.text-overlay h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}



.btn-light:hover {
    background-color: #f0f0f0;
    color: #000;
}

